APP_NAME="IRXPlay Game Engine"
APP_ENV=development
APP_PORT=8080
APP_SECRET=topup-super-secret-key-99881122

# CORS Allowed Origins
FRONTEND_URL=http://localhost:3000,https://irxplay.com,https://www.irxplay.com
ADMIN_URL=http://localhost:3001,https://admin1235.irxplay.com

# Database (sqlite / mysql / postgres)
DB_DRIVER=sqlite
DB_SQLITE_PATH=topup.db

# DB_DRIVER=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_DATABASE=topup_db

# JWT Config
JWT_SECRET=jwt-secret-topup-secure-token-9988
JWT_EXPIRY_HOURS=72

# Digiflazz Buyer Config (Untuk Beli H2H)
DIGIFLAZZ_BASE_URL=https://api.digiflazz.com/v1
DIGIFLAZZ_USERNAME=
DIGIFLAZZ_KEY=
DIGIFLAZZ_WEBHOOK_SECRET=

# Digiflazz Seller Config (Untuk Jual ke Mitra)
DIGIFLAZZ_SELLER_SECRET=h2h-seller-secret-999

# Payment Gateway (Tripay)
TRIPAY_API_KEY=
TRIPAY_PRIVATE_KEY=
TRIPAY_MERCHANT_CODE=
TRIPAY_BASE_URL=https://tripay.co.id/api-sandbox
